USE [master]
GO
/****** Object:  Database [vehicaldb]    Script Date: 01/24/2016 19:17:29 ******/
CREATE DATABASE [vehicaldb] ON  PRIMARY 
( NAME = N'vehicaldb', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\vehicaldb.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'vehicaldb_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\vehicaldb_log.LDF' , SIZE = 504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [vehicaldb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [vehicaldb]
GO
/****** Object:  Table [dbo].[Vehical]    Script Date: 01/24/2016 19:17:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Vehical](
	[VehicalID] [int] IDENTITY(1,1) NOT NULL,
	[VehicalName] [varchar](50) NULL,
	[Color] [varchar](500) NULL,
	[Category] [varchar](50) NULL,
	[Company] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
 CONSTRAINT [PK_Vehical] PRIMARY KEY CLUSTERED 
(
	[VehicalID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
